* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.nav-container {
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: rgb(255, 237, 252);
}
.nav-container .nav-content {
  width: 1340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container .nav-content .menu {
  display: flex;
  gap: 25px;
}
.nav-container .nav-content .menu li {
  list-style: none;
}
.nav-container .nav-content .menu li a {
  text-decoration: none;
  color: black;
}
.nav-content .logo h2 {
  font-size: 2vw;
}
.nav-content .logo h2 span {
  color: rgb(255, 113, 203);
}
.nav-content .icon i {
  font-size: 1.6vw;
  padding: 0 10px;
}
.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffc3d0;
}
.hero-container .hero-content {
  width: 1340px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero-container .hero-content .text-content {
  width: 680px;
}
.hero-container .hero-content .text-content h1 {
  color: #030303;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero-container .hero-content .text-content p {
  font-size: 18px;
  padding: 32px 0;
  color: rgb(53, 53, 53);
}
.img-content {
  width: 660px;
}
.img-content img {
  width: 100%;
  vertical-align: middle;
}
.primary-button {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  border: none;
  font-weight: 700;
  line-height: normal;
}

/* features section */
.features-container {
  width: 100%;
}
.features-content {
  margin: 0 auto;
  width: 1340px;
}
.features-content .feature-header {
  text-align: center;
  width: 594px;
  padding: 55px 0;
  margin: 0 auto;
}
.features-content .features-main-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contents .feature-img {
  vertical-align: middle;
  border-radius: 300px 300px 0 0;
  height: 500px;
  display: flex;
  align-items: end;
  padding: 0px 35px;
}
.contents p {
  text-align: center;
  padding: 8px 0;
}
.contents #pink {
  background: #ffc3d0;
}
.contents #blue {
  background: rgb(205, 205, 255);
}
.contents #green {
  background: rgb(201, 255, 201);
}
